.highlight {
  @apply bg-gradient-to-br from-sky-500 to-cyan-400 bg-clip-text text-transparent;
}

summary, .text-highlight {
  color: #22d3ee;
}

.mdImage {
  margin: 0 auto;
  background: white;
}

.note {
  @apply p-4 bg-slate-700
}