---
import type { FrontmatterPage } from 'astro-boilerplate-components';
import {
  NewerOlderPagination,
  PaginationHeader,
  Section,
} from 'astro-boilerplate-components';

import BlogGallery from '@/partials/BlogGallery.astro';
import Base from '@/templates/Base.astro';
import { AppConfig } from '@/utils/AppConfig';
import { getPublished } from '@/utils/Posts';

type GetStaticPaths = {
  paginate: any;
}; // Overrides `GetStaticPathsOptions` types from Astro

export async function getStaticPaths({ paginate }: GetStaticPaths) {
  const sortedPosts = await getPublished();

  // Return a paginated collection of paths for all posts
  return paginate(sortedPosts, { pageSize: 12 });
}

interface Props {
  page: FrontmatterPage;
}

const { page } = Astro.props as Props;
const titleSuffix = ` - ${AppConfig.site_name}`;
const titleBase = `Blog page ${page.currentPage}`;
const title = titleBase + titleSuffix;
const description = 'Blog posts by Juan Manuel Allo Ron';
---

<Base head={{ title, description }}>
  <Section>
    <PaginationHeader
      title='All Blog Posts'
      description='Check the latest posts'
    />
  </Section>

  <Section>
    <BlogGallery postList={page.data} />
  </Section>

  <Section>
    <NewerOlderPagination page={page} />
  </Section>

  <!-- <CTA /> -->
</Base>
