---
import { BlogGallery } from "@/partials/BlogGallery";

const { posts } = Astro.props;
---

<div class="mx-auto max-w-prose mt-8 px-3">
  <p class="text-slate-700 text-center highlight p-0">---</p>
  <h2 class="text-xl mb-5 mt-1 text-slate-300 text-center">Similar Articles</h2>
  <BlogGallery postList={posts} />
</div>
